---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: 'Good Times';
    src: url(../font/GoodTimes.otf);
    }

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url(../font/DINNextLTPro.ttf);
    }

@font-face {
    font-family: 'EuroStyle';
    src: url(../font/EuroStyle.ttf);
}

@font-face {
    font-family: 'EurostileBold';
    src: url(../font/EurostileBold.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter.ttf);
}

$headings-font-family: 'EurostileBold';
$font-family-base: 'Inter';

/* any style customization must be before the bootstrap import */
@import "bootstrap/bootstrap";
